<div class="carole">
    <div class="row">
        <div class="col-12 col-md-6 w-25 d-flex justify-content-center align-items-center  mb-3">

            <div class="card border-0">
                <div class="card-inner">
                    <div class="card-front">
                        <div class="avatar">
                            <div class="avatar-body fs-1">C</div>
                        </div>
                    </div>
                    <div class="card-back d-flex flex-column align-items-center justify-content-center">
                        <img src="https://avatars.githubusercontent.com/u/225083065?v=4" alt="Avatar de Carole"
                            class="avatar-img w-100 rounded-circle">
                        <div>
                            <a href="https://github.com/devkarore">
                                <p>/github.com/devkarore </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 position-relative mb-3">
            <p>J'ai passé une très bonne année avec Nicolas et toute la classe.</p>
            <p>J'aurai aimé que cette formation dure plus longtemps pour pouvoir passer plus de temps avec vous tous et
                continuer à apprendre.</p>
            <p>Mais la vie continue... et le travail nous attend.</p>
            <p>Je nous souhaite à tous du succès !! </p>
            <p>Carole</p>
            <div class="geeks"></div>
        </div>
    </div>
</div>