.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.slot {
  border: solid 1px #333;
  min-height: 220px;
  &.small  { grid-column: span 2; grid-row: span 1; min-height: 220px; }
  &.medium { grid-column: span 3; grid-row: span 1; min-height: 220px; }
  &.large  { grid-column: span 4; grid-row: span 2; min-height: 460px; }
}
