.decompte {

   
  background: linear-gradient(135deg, #667eea 0%, #c5acde 100%);

  .compteur {

    font-size: 48px;
    font-weight: bold;

  }
  h3 {
    font-size: 20px !important;
    margin-top: 10px;
  }

  .datedepart {
    font-size: 15px;
  }


}
